.container{
    margin: auto;
    background-color: grey;
    width: 500px;
    padding: 50px;
    border-radius: 10px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  width: 80px;          
  margin-right: 10px;   
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box
}

.btn{
    background-color: lightblue;
    padding: 7px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.btn:hover{
    background-color: blue;
    color:white;
}

/******Result Page*******/
.message_body{
    margin: auto;
    background: lightgreen;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
}

.message{
    margin: auto 0 0;
    font-size: 18px;
    background-color: #67d367;
    padding: 0px 5px;
    border-radius: 3px;
    border: 1px #63bb63 solid;
}

